* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  user-select: none;
}

body {
  width: 33%;
  background-color: lightgray;
}

#res {
  height: 48px;
  font-size: 20px;
  border: 2px solid black;
}

#btns div {
  width: 25%;
  height: 36px;
  font-size: 18px;
  margin: 0;
  float: left;
  position: relative;
  border: 2px solid darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#btn0,
#btn1 {
  background-color: lightgreen;
  color: brown;
}

#btnClr,
#btnEql {
  background-color: darkgreen;
  color: white;
}

#btnSum,
#btnSub,
#btnMul,
#btnDiv {
  background-color: black;
  color: red;
}
